[submodule "ext/Little-CMS"]
	path = ext/Little-CMS
	url = https://github.com/mm2/Little-CMS.git
[submodule "ext/grok"]
	path = ext/grok
	url = https://github.com/GrokImageCompression/grok.git
[submodule "ext/openjpeg"]
	path = ext/openjpeg
	url = https://github.com/uclouvain/openjpeg.git
